<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.dao.AccountitemsMapper" >
  <resultMap id="BaseResultMap" type="com.hy.po.Accountitems" >
    <id column="accountitemsid" property="accountitemsid" jdbcType="INTEGER" />
    <result column="itemsname" property="itemsname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    accountitemsid, itemsname
  </sql>
  
  <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from accountitems
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from accountitems
    where accountitemsid = #{accountitemsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from accountitems
    where accountitemsid = #{accountitemsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.po.Accountitems" >
    insert into accountitems (accountitemsid, itemsname)
    values (#{accountitemsid,jdbcType=INTEGER}, #{itemsname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hy.po.Accountitems" >
    insert into accountitems
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountitemsid != null" >
        accountitemsid,
      </if>
      <if test="itemsname != null" >
        itemsname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountitemsid != null" >
        #{accountitemsid,jdbcType=INTEGER},
      </if>
      <if test="itemsname != null" >
        #{itemsname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.po.Accountitems" >
    update accountitems
    <set >
      <if test="itemsname != null" >
        itemsname = #{itemsname,jdbcType=VARCHAR},
      </if>
    </set>
    where accountitemsid = #{accountitemsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.po.Accountitems" >
    update accountitems
    set itemsname = #{itemsname,jdbcType=VARCHAR}
    where accountitemsid = #{accountitemsid,jdbcType=INTEGER}
  </update>
</mapper>