<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.dao.SettleaccountsMapper" >
  <resultMap id="BaseResultMap" type="com.hy.po.Settleaccounts" >
    <id column="settleaccountsid" property="settleaccountsid" jdbcType="INTEGER" />
    <result column="detailid" property="detailid" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="settleaccountstime" property="settleaccountstime" jdbcType="TIMESTAMP" />
    <result column="payable" property="payable" jdbcType="DECIMAL" />
    <result column="payway" property="payway" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    settleaccountsid, detailid, operator, settleaccountstime,payable, payway, comment
  </sql>
  
  <select id="queryPage" resultType="com.hy.po.Settleaccounts">
    SELECT sa.*,rrd.arrivedate,rrd.leavedate,rrd.realprice,
    r.roomnumber,ci.chinesename,ci.idnumber
    FROM settleaccounts sa 
    INNER JOIN roomreservationdetail rrd ON sa.detailid = rrd.detailid
    INNER JOIN rooms r ON rrd.roomsid = r.roomsid
    INNER JOIN clientinfo ci ON rrd.clientinfoid = ci.clientinfoid
    
    WHERE 1 = 1
    <if test="chinesename != null &amp; chinesename != ''" >
       and ci.chinesename LIKE CONCAT('%', #{chinesename,jdbcType=VARCHAR}, '%')
    </if>
    <if test="idnumber != null &amp; idnumber != ''" >
       and ci.idnumber LIKE CONCAT('%', #{idnumber,jdbcType=VARCHAR}, '%')
    </if>
    <if test="roomnumber != null &amp; roomnumber != ''" >
       and r.roomnumber LIKE CONCAT('%', #{roomnumber,jdbcType=VARCHAR}, '%')
    </if>
    
    ORDER BY sa.settleaccountsid DESC
    LIMIT #{firstResult} ,#{pageSize}
  </select>
  
  <select id="count" resultType="java.lang.Integer" >
    SELECT COUNT(1)
    FROM settleaccounts sa 
    INNER JOIN roomreservationdetail rrd ON sa.detailid = rrd.detailid
    INNER JOIN rooms r ON rrd.roomsid = r.roomsid
    INNER JOIN clientinfo ci ON rrd.clientinfoid = ci.clientinfoid
    
    WHERE 1 = 1
    <if test="chinesename != null &amp; chinesename != ''" >
       and ci.chinesename LIKE CONCAT('%', #{chinesename,jdbcType=VARCHAR}, '%')
    </if>
    <if test="idnumber != null &amp; idnumber != ''" >
       and ci.idnumber LIKE CONCAT('%', #{idnumber,jdbcType=VARCHAR}, '%')
    </if>
    <if test="roomnumber != null &amp; roomnumber != ''" >
       and r.roomnumber LIKE CONCAT('%', #{roomnumber,jdbcType=VARCHAR}, '%')
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from settleaccounts
    where settleaccountsid = #{settleaccountsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from settleaccounts
    where settleaccountsid = #{settleaccountsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.po.Settleaccounts" >
    <selectKey resultType="java.lang.Integer" keyProperty="settleaccountsid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into settleaccounts (detailid, operator, settleaccountstime, payable,
      payway, comment)
    values (#{detailid,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{settleaccountstime,jdbcType=TIMESTAMP}, 
      #{payable,jdbcType=DECIMAL}, #{payway,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hy.po.Settleaccounts" >
    <selectKey resultType="java.lang.Integer" keyProperty="settleaccountsid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into settleaccounts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        detailid,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="settleaccountstime != null" >
        settleaccountstime,
      </if>
      <if test="payable != null" >
        payable,
      </if>
      <if test="payway != null" >
        payway,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        #{detailid,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="settleaccountstime != null" >
        #{settleaccountstime,jdbcType=TIMESTAMP},
      </if>
      <if test="payable != null" >
        #{payable,jdbcType=DECIMAL},
      </if>
      <if test="payway != null" >
        #{payway,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.po.Settleaccounts" >
    update settleaccounts
    <set >
      <if test="detailid != null" >
        detailid = #{detailid,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="settleaccountstime != null" >
        settleaccountstime = #{settleaccountstime,jdbcType=TIMESTAMP},
      </if>
      <if test="payable != null" >
        payable = #{payable,jdbcType=DECIMAL},
      </if>
      <if test="payway != null" >
        payway = #{payway,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where settleaccountsid = #{settleaccountsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.po.Settleaccounts" >
    update settleaccounts
    set detailid = #{detailid,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      settleaccountstime = #{settleaccountstime,jdbcType=TIMESTAMP},
      payable = #{payable,jdbcType=DECIMAL},
      payway = #{payway,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR}
    where settleaccountsid = #{settleaccountsid,jdbcType=INTEGER}
  </update>
</mapper>