<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.dao.ClientinfoMapper" >
  <resultMap id="BaseResultMap" type="com.hy.po.Clientinfo" >
    <id column="clientinfoid" property="clientinfoid" jdbcType="INTEGER" />
    <result column="chinesename" property="chinesename" jdbcType="VARCHAR" />
    <result column="englishname" property="englishname" jdbcType="VARCHAR" />
    <result column="familyname" property="familyname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="idtypeid" property="idtypeid" jdbcType="INTEGER" />
    <result column="idnumber" property="idnumber" jdbcType="VARCHAR" />
    <result column="visatypeid" property="visatypeid" jdbcType="INTEGER" />
    <result column="visadate" property="visadate" jdbcType="DATE" />
    <result column="nationalityid" property="nationalityid" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="nationid" property="nationid" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="workunit" property="workunit" jdbcType="VARCHAR" />
    <result column="nativeplaceid" property="nativeplaceid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    clientinfoid, chinesename, englishname, familyname, sex, idtypeid, idnumber, visatypeid, 
    visadate, nationalityid, birthday, nationid, address, area, workunit, nativeplaceid
  </sql>
  
  <select id="findByParam" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clientinfo
    where 1 = 1
    <if test="name != null &amp; name != ''" >
       and chinesename LIKE CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
       or englishname LIKE CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
  </select>
  
  <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clientinfo
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clientinfo
    where clientinfoid = #{clientinfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clientinfo
    where clientinfoid = #{clientinfoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.po.Clientinfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="clientinfoid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into clientinfo (chinesename, englishname, familyname, 
      sex, idtypeid, idnumber, 
      visatypeid, visadate, nationalityid, 
      birthday, nationid, address, 
      area, workunit, nativeplaceid
      )
    values (#{chinesename,jdbcType=VARCHAR}, #{englishname,jdbcType=VARCHAR}, #{familyname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{idtypeid,jdbcType=INTEGER}, #{idnumber,jdbcType=VARCHAR}, 
      #{visatypeid,jdbcType=INTEGER}, #{visadate,jdbcType=DATE}, #{nationalityid,jdbcType=INTEGER}, 
      #{birthday,jdbcType=DATE}, #{nationid,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{workunit,jdbcType=VARCHAR}, #{nativeplaceid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hy.po.Clientinfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="clientinfoid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into clientinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chinesename != null" >
        chinesename,
      </if>
      <if test="englishname != null" >
        englishname,
      </if>
      <if test="familyname != null" >
        familyname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="idtypeid != null" >
        idtypeid,
      </if>
      <if test="idnumber != null" >
        idnumber,
      </if>
      <if test="visatypeid != null" >
        visatypeid,
      </if>
      <if test="visadate != null" >
        visadate,
      </if>
      <if test="nationalityid != null" >
        nationalityid,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="nationid != null" >
        nationid,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="workunit != null" >
        workunit,
      </if>
      <if test="nativeplaceid != null" >
        nativeplaceid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chinesename != null" >
        #{chinesename,jdbcType=VARCHAR},
      </if>
      <if test="englishname != null" >
        #{englishname,jdbcType=VARCHAR},
      </if>
      <if test="familyname != null" >
        #{familyname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="idtypeid != null" >
        #{idtypeid,jdbcType=INTEGER},
      </if>
      <if test="idnumber != null" >
        #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="visatypeid != null" >
        #{visatypeid,jdbcType=INTEGER},
      </if>
      <if test="visadate != null" >
        #{visadate,jdbcType=DATE},
      </if>
      <if test="nationalityid != null" >
        #{nationalityid,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="nationid != null" >
        #{nationid,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="workunit != null" >
        #{workunit,jdbcType=VARCHAR},
      </if>
      <if test="nativeplaceid != null" >
        #{nativeplaceid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.po.Clientinfo" >
    update clientinfo
    <set >
      <if test="chinesename != null" >
        chinesename = #{chinesename,jdbcType=VARCHAR},
      </if>
      <if test="englishname != null" >
        englishname = #{englishname,jdbcType=VARCHAR},
      </if>
      <if test="familyname != null" >
        familyname = #{familyname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="idtypeid != null" >
        idtypeid = #{idtypeid,jdbcType=INTEGER},
      </if>
      <if test="idnumber != null" >
        idnumber = #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="visatypeid != null" >
        visatypeid = #{visatypeid,jdbcType=INTEGER},
      </if>
      <if test="visadate != null" >
        visadate = #{visadate,jdbcType=DATE},
      </if>
      <if test="nationalityid != null" >
        nationalityid = #{nationalityid,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="nationid != null" >
        nationid = #{nationid,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="workunit != null" >
        workunit = #{workunit,jdbcType=VARCHAR},
      </if>
      <if test="nativeplaceid != null" >
        nativeplaceid = #{nativeplaceid,jdbcType=VARCHAR},
      </if>
    </set>
    where clientinfoid = #{clientinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.po.Clientinfo" >
    update clientinfo
    set chinesename = #{chinesename,jdbcType=VARCHAR},
      englishname = #{englishname,jdbcType=VARCHAR},
      familyname = #{familyname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      idtypeid = #{idtypeid,jdbcType=INTEGER},
      idnumber = #{idnumber,jdbcType=VARCHAR},
      visatypeid = #{visatypeid,jdbcType=INTEGER},
      visadate = #{visadate,jdbcType=DATE},
      nationalityid = #{nationalityid,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      nationid = #{nationid,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      workunit = #{workunit,jdbcType=VARCHAR},
      nativeplaceid = #{nativeplaceid,jdbcType=VARCHAR}
    where clientinfoid = #{clientinfoid,jdbcType=INTEGER}
  </update>
</mapper>