<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.dao.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.hy.po.Team" >
    <id column="teamid" property="teamid" jdbcType="INTEGER" />
    <result column="teamname" property="teamname" jdbcType="VARCHAR" />
    <result column="teamcode" property="teamcode" jdbcType="VARCHAR" />
    <result column="teamleader" property="teamleader" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    teamid, teamname, teamcode, teamleader
  </sql>
  
  <select id="findAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from team
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team
    where teamid = #{teamid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from team
    where teamid = #{teamid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.po.Team" >
    <selectKey resultType="java.lang.Integer" keyProperty="teamid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into team (teamname, teamcode, teamleader
      )
    values (#{teamname,jdbcType=VARCHAR}, #{teamcode,jdbcType=VARCHAR}, #{teamleader,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hy.po.Team" >
    <selectKey resultType="java.lang.Integer" keyProperty="teamid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teamname != null" >
        teamname,
      </if>
      <if test="teamcode != null" >
        teamcode,
      </if>
      <if test="teamleader != null" >
        teamleader,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teamname != null" >
        #{teamname,jdbcType=VARCHAR},
      </if>
      <if test="teamcode != null" >
        #{teamcode,jdbcType=VARCHAR},
      </if>
      <if test="teamleader != null" >
        #{teamleader,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.po.Team" >
    update team
    <set >
      <if test="teamname != null" >
        teamname = #{teamname,jdbcType=VARCHAR},
      </if>
      <if test="teamcode != null" >
        teamcode = #{teamcode,jdbcType=VARCHAR},
      </if>
      <if test="teamleader != null" >
        teamleader = #{teamleader,jdbcType=VARCHAR},
      </if>
    </set>
    where teamid = #{teamid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.po.Team" >
    update team
    set teamname = #{teamname,jdbcType=VARCHAR},
      teamcode = #{teamcode,jdbcType=VARCHAR},
      teamleader = #{teamleader,jdbcType=VARCHAR}
    where teamid = #{teamid,jdbcType=INTEGER}
  </update>
</mapper>